@using  Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@model List<FirstApp.Models.Employee>


    @{
    Layout=null;
}


@using Microsoft.AspNetCore.Http
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bus Booking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FirstApp.styles.css" asp-append-version="true" />
</head>
<body style="margin-bottom: 50px;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3 navbar-red" >
            <div class="container-fluid" >
                @if (User.Identity.IsAuthenticated)
                {
                  <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">
                    <img style="width:60px;" src="~/images/bus logo1.png" alt="LOGO">
                </a>
                   
                }
                else
                {
                      <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="width:60px;" src="~/images/bus logo1.png" alt="LOGO">
                </a>
                }
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" >
                    <ul class="navbar-nav flex-grow-1">
                         @if(User.Identity.IsAuthenticated){
                       <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="map"><b>Map</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="showProfile"><b>Profile</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="contact"><b>contact</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="displayHistory"><b>Booking History</b></a>
                        </li>
                         }
                        </ul>
                        <div>
                            <ul class="navbar-nav flex-grow-1">
                                
                        @if(User.Identity.IsAuthenticated){
                             <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="sendRequest">
                                  <img style="width:20px;" src="~/images/notification.png" alt="notification">
                </a>
                        </li>
                            
                            <li class="nav-item">
                            <a class="nav-link text-dark "  style="text-align:right;" asp-controller="Home" asp-action="logOut"><b>Logout</b></a>
                        </li>
                        }
                        else{
                            <li class="nav-item">
                            <a class="nav-link text-dark "  style="text-align:right;" asp-controller="Employee" asp-action="login"><b>Login</b></a>
                        </li>
                        }
                            </ul>
                           
                        </div>
                </div>
            </div>
        </nav>
    </header>
    <h1 class="header"><b>PROFILE</b></h1>
    <div class="container">
        <div class="profile">
            <div> <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqRhkF0pFglWreBkVB4wC6tlX5sgJK2uoTH5gvBNAVHA&s"><img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqRhkF0pFglWreBkVB4wC6tlX5sgJK2uoTH5gvBNAVHA&s" alt="image"></a> </div>  
                <div style="font-size: 30px;" class="text"><h3 >@HttpContextAccessor.HttpContext.Session.GetString("UserName") </h3></div>
                <h5 class="role">DEVELOPER</h5>
    </div>
    <div class="content">
            <ul>
                @foreach (var employee in Model){
                     <li>Employee-ID: <span>@employee.EmployeeId</span></li>
                     <li>Email-ID: <span>@employee.EmailId</span></li>
                     <li>Date of Birth: <span>@employee.DateOfBirth</span></li>
                    <li>Blood group: <span>b positive</span></li>
                    <li>Joined year: <span>2023</span></li>
                    <li>Experiance: <span>Trainee</span></li>
                    <li>Location: <span>Pondicherry</span></li>
                    <li>Pincode: <span>605102</span></li>
                }
               
            </ul>

            

    </div>
    </div>

    
</body>
<style>
    body{
		background-color:#e7d3f8;
        
    }
    .profile{
        position: relative;
        width: 600px;
        height: 500px;
        border-left: ;
        margin-left:25%;
        margin-top: 3%;
        border: 2px solid black;
        background-color: #855AA6;
        color: white;
        border-radius: 0px 0px 0px 30px;
    
    }
    .content{
        display: flex;
        width: 600px;
        height: 500px;
        border:  2px solid black;
        border-left: none;
        margin-right: 25%;
        margin-top: 3%;
        background-color: #d2bfe0;
        border-radius: 0px 30px 0px 0px;

    
    }.container{
        display: flex;
    }
    .image{
        position: relative;
        border-radius: 50%;
        margin-left:20%;
        margin-top: 20%;
        border:3px solid black;
        box-shadow: 5px whitesmoke;
    }.text{
        position: relative;
        margin-left: 16%;
        max-width: 100px;
        box-sizing: border-box;
        @* background-color:blue; *@
        
    }.role{
        position: relative;
        max-width: 150PX;
        min-width: 150PX;
        margin-left: 30%;
        box-sizing: border-box;
        @* background-color: #633f7e; *@
    }
    .content ul{
        list-style-type: none;
        text-align: justify;
        margin-top: 32%;
        line-height: 2em;
        font-size: 17px;
        color: black;
        font-weight: bold;
    }
    .header{
        text-align: center;
        margin-top: 5%;
        border: 2px solid #855AA6;
        margin-left: 35%;
        margin-right: 35%;
        padding: 5px ;
        border-radius: 0px 30px 0px;
        color:#855AA6;
        box-shadow: 2px 5px 5px #633f7e;
        background-color: #d2bfe0;
		 text-shadow: 2px 2px 3px black;


    }
    .content ul span{
        font-weight:normal;
    }
</style>